.a-b-c {
  position: relative;
}

.square {
  width:10px;
  height:10px;
}

.a-b-c .square {
  position: absolute;
}

.b-corner-region {
  background-color: #84f9c2;
}
.b-region {
  background-color: #09f;
}
.a-region {
  background-color: #f90;
}

.sandbox {
  display: flex;
}


.legend-wrapper {
}
.legend {
  display: flex;
  align-items: center;
}
.legend > div {
  margin-left: 10px;
}

