$peg-diameter: 20px;
$code-peg-diameter: 15px;
$score-peg-wrapper-width: 25px;
$score-peg-diameter: 10px;
$score-peg-blank: #ccc;

$peg-blank: #ccc;
$peg-red: #ff0000;
$peg-blue: #09f;
$peg-green: #0f0;
$peg-yellow: #ff0;
$peg-black: #000;
$peg-purple: #f0f;

.float-container {
	clear: both;
	display: flex;
	justify-content: center;
	background-color: #eee;
}

.peg-wrapper {
	float:left;
	display: flex;
	flex-direction: row;
}
.code-selection {
	border: 1px solid gray;
}
.selection-complete button {

}

.code-peg {
	width: $code-peg-diameter;
	height: $code-peg-diameter;
	margin: 3px;
	border-radius: 50%;
	background-color: $peg-blank;
}

.peg {
	width: $peg-diameter;
	height: $peg-diameter;
	margin: 3px;
	border-radius: 50%;
	background-color: $peg-blank;
}

.peg-blank {
	background-color: $peg-blank;
}
.peg-red {
	background-color: $peg-red;
}
.peg-green {
	background-color: $peg-green;
}
.peg-blue {
	background-color: $peg-blue;
}
.peg-yellow {
	background-color: $peg-yellow;
}
.peg-black {
	background-color: $peg-black;
}
.peg-purple {
	background-color: $peg-purple;
}

.code-picker {
	width: 400px;

}

.score-peg-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: $score-peg-wrapper-width;
}

.score-peg {
	width: $score-peg-diameter;
	height: $score-peg-diameter;
	margin: 1px;
	border-radius: 50%;
	background-color: $score-peg-blank;
	border: 1px solid gray;
}

.score-black {
	background-color: black;
}

.score-white {
	background-color: white;
}
