.square {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 1px 0 0 1px;
 // background-color: rgb(59, 150, 241);
  background-color: rgba(197,204,210,.2);
}
.a-square {
/*  background-color: #8AAF9C; */
  background-color: rgba(138,175,156,.5);
}
.a-square-on {
  background-color: var(--cyan);
}
.b-square {
/*  background-color:#66866A; */
  background-color: rgba(102,134,106,.5);
}
.b-square-on {
  background-color: var(--teal);
}
.c-squared {
  position: relative;
  background-color: rgba(223,223,223,.55);
/*  background-color: #dfdfdf; */
}
.square-on {
    background-color: var(--pink);
}
.c-label {
  position: absolute;
  font-size: 13px;
  bottom: -20px;
}
.c-label span {
  vertical-align: super;
}
.b-label {
  position: absolute;
  font-size: 13px;
  bottom: 0px;
  right: -28px;
  color: #66866a;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.b-label span {
  vertical-align: super;
  color: #66866a;
}
.a-label {
  position: absolute;
  font-size: 13px;
  top: -23px;
  left: 0px;
  color: #66866a;
}
.a-label span.exp {
  vertical-align: super;
}

tr {
	cursor: pointer;
}

.info {
	margin-top: 10px;
	font-size: 11pt;
}

.toggle-layout {
	font-weight: bold;
	color: #ccc;
	padding: 5px;
	border: 1px solid #666;
	border-radius: 5px;
}

.highlight-layer {
	background-color:#056796;
}

.pythag-triple {
    background-color:#056796;
    color: white;
    border-radius: 20px;
    padding: 3px 8px;
    margin-bottom: 2px;
    cursor: pointer;
}
.pythag-triple:hover {
    background-color: #09f;
}
