.currently-reading {
  height: 150px;
  overflow-y: hidden;
}

.article-wrapper header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: .8em;
  font-weight: bold;
  border-bottom: 1px solid #666;
}

.home-container header > .category-tag {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  border-radius: 0 5px;
}

.home-container header > .category-tag > span {
  display: block;
  color: white;
  font-size:.5em;
  padding: 2px;
}

.home-container header {
  position: relative;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid rgba(153, 153, 153, 1);
}

/*
.home-container .thoughts header {
  background-color: rgba(32, 99, 155, .5);
}
.home-container .thoughts header > .category-tag {
  background-color: rgba(32, 99, 155, 1);
}
.article-wrapper .thoughts header {
  background-color: rgba(32, 99, 155, .5);
}
*/

.home-container .logophile header {
  background-color: rgba(60, 174, 163, .5);
}
.home-container .logophile header > .category-tag {
  background-color: rgba(60, 174, 163, 1);
}

.home-container .professional header {
  background-color: rgba(237, 85, 59, .8);
}
.home-container .professional header > .category-tag {
  background-color: rgba(237, 85, 59, 1);
}
.article-wrapper .professional header {
  background-color: rgba(237, 85, 59, .8);
}

.home-container .arithmophile header {
  background-color: rgba(246, 213, 92, .5);
}
.home-container .arithmophile header > .category-tag {
  background-color: rgba(246, 213, 92, 1);
}

.article-wrapper header {
  background-color: rgba(240, 240, 240, 1);
  border-bottom: 1px solid rgba(32, 32, 32, .5);
}
