/*
 * Specific to Logophile
 */
article.logophile {
  background-color:#eed;
}

.oed-entry {
  font-family: georgia;
  padding: 0 10px;
  color: #800;
  font-weight:bold;
}
.oed-etymology {
  font-family: georgia;
  padding: 0 10px;
  line-height: 1;
  font-size: .75rem;
}
.oed-definition {
  font-family: georgia;
  padding: 0 10px;
}
.oed-citations {
  font-family: georgia;
  padding: 0 10px;
  margin-left: 20px;
  line-height: 1;
  font-size: .75rem;
  font-style: italic;
}
