body {
	margin: 0;
	font-family: sans-serif;
	background: linear-gradient(90deg, #825B56 50%, #052439 50%);
}

@media all and (max-width:480px) {
	body {
        padding: 0;
		background:white;
	}
}

