body {
	margin: 0;
	font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top -500px left 0;
	background-image: url(/media/images/mont-st-michel.jpg);
}

@media all and (max-width:480px) {
	body {
        padding: 0;
		background:white;
	}
}

